<div class="content-chat">
	<h1>Sala de chat</h1>

	<div class="container-fluid" id="messages">
		<%= render @messages %>			
	</div>

	<div class="" id="div-form">
		<form id="form-speak">
		  <label>Escribe:</label><br>
		  <input type="text" data-behavior="room_speaker" class="form-control">
		</form>	
	</div>
</div>

<script type="text/javascript">
	finDiv('messages');

  function finDiv(id){
	  var divMessages = document.getElementById(id);
	  divMessages.scrollTop = divMessages.scrollHeight;
  }

  console.log('tamaño de la pantalla: '+ screen.height);
  var cajaMessages = document.getElementById('messages');
</script>