html, body{
	margin: 0;
	padding: 0;
	height: 98%;
	background-color: #CFCFCF;
}

#messages{
	width: 100%;
	height: 400px;
	overflow-y: auto;
	margin-bottom: 10px;
}

#div-form{
	width: 100%;
	overflow-y: auto;
	background: #333;
	position: fixed;
	padding: 10px;
	margin-bottom: 20px;
}
